.el-table-column--selection .cell{
    margin-left:0px !important;
    padding-left:0px !important;
}
.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.el-tree-node {
    white-space: normal;
    outline: 0;
    .el-tree-node__content
    {
        text-align: left;
        align-items: start;
        height: 100%;
        .el-tree-node

    {
        white-space: normal;
        outline: 0;
        .el-tree-node__content

    {
        text-align: left;
        align-items: start;
        height: 100%;
    }

    }
    }
}