@page
@{ Layout = "_Layout"; }
@section Styles{
    <style>

        .el-table th.el-table__cell > .cell {
            padding-left: 14px;
        }

        .el-tree-node {
            white-space: normal;
            outline: 0;
            .el-tree-node__content

        {
            text-align: left;
            align-items: start;
            height: 100%;
            .el-tree-node

        {
            white-space: normal;
            outline: 0;
            .el-tree-node__content

        {
            text-align: left;
            align-items: start;
            height: 100%;
        }

        }
        }
        }
      </style>
}
<el-card class="box-card">
    <div slot="header" class="clearfix">
        <span>选择分管部门</span>
        <el-button style="float: right;padding:3px 0;" type="text" v-on:click="utils.closeLayerSelf()"><i class="el-icon-close"></i></el-button>
    </div>
    <el-form :inline="true" :size="euiSize">
        <el-form-item label="">
            <el-input v-model="search"
                      prefix-icon="el-icon-search" clearable
                      placeholder="输入关键字进行过滤" v-on:input="btnSearch">
            </el-input>
        </el-form-item>
    </el-form>
    <el-table ref="departmentsTable" :data="departments" style="width: 100%;" :size="euiSize" v-on:selection-change="handleSelectionChange"
              :height="($(window).innerHeight() - 230)">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column label="部门" prop="name"></el-table-column>
        <el-table-column label="" prop="pathNames"></el-table-column>
        <el-table-column prop="adminCount"
                         label="管理员" width="118">
        </el-table-column>
        <el-table-column prop="userCount"
                         label="用户" width="118">
        </el-table-column>
        @await Html.PartialAsync("_PartialTableEmpty")
</el-table>
</el-card>
<el-row align="center" style="margin-top:18px;">
    <el-col :span="24" align="center">
        <el-button :size="euiSize" type="primary" v-on:click="btnSubmitClick">确 定</el-button>
        <el-button :size="euiSize" v-on:click="utils.closeLayerSelf()">关 闭</el-button>
    </el-col>
</el-row>
@section Scripts{
<script src="/sitefiles/assets/js/admin/common/selectDepartment.js" type="text/javascript"></script> }