@page
@{ Layout = "_Layout"; }

<el-card>
    <el-form v-on:submit.native.prevent :inline="true" :model="formInline" :size="euiSize">
        <el-form-item label="时间：从">
            <el-date-picker v-model="formInline.dateFrom"
                            type="date"
                            value-format="yyyy-MM-ddTHH:mm:ss.000Z"
                            placeholder="选择开始日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="到">
            <el-date-picker v-model="formInline.dateTo"
                            type="date"
                            value-format="yyyy-MM-ddTHH:mm:ss.000Z"
                            placeholder="选择结束日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="管理员">
            <el-input v-model="formInline.userName" placeholder="管理员"></el-input>
        </el-form-item>
        <el-form-item label="关键字">
            <el-input v-model="formInline.keyword" placeholder="关键字"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button :size="euiSize" type="primary" v-on:click="btnSearchClick" icon="el-icon-search">查 询</el-button>
            <el-button :size="euiSize" type="primary" plain v-on:click="btnExportClick" icon="el-icon-download">导出日志</el-button>
            <el-button :size="euiSize" type="danger" plain v-on:click="btnDeleteClick" icon="el-icon-delete">清空日志</el-button>
        </el-form-item>
    </el-form>

    <el-table :data="items" :size="euiSize"
              style="width: 100%" :height="($(window).height() - 205)">
        <el-table-column label="#"
                         type="index"
                         width="60"
                         align="left">
            <template scope="scope">
                <span>{{(formInline.pageIndex - 1) * formInline.pageSize + scope.$index + 1}}</span>
            </template>
        </el-table-column>
        <el-table-column width="180"
                         label="管理员">
            <template slot-scope="scope">
                <el-link :underline="false" type="primary" v-on:click="btnAdminView(scope.row.creatorId)">{{scope.row.displanyName}}</el-link>
            </template>
        </el-table-column>
        <el-table-column width="180"
                         prop="ipAddress"
                         label="IP地址">
        </el-table-column>
        <el-table-column prop="createdDate"
                         width="180"
                         label="日期">
        </el-table-column>
        <el-table-column prop="action" width="190"
                         label="动作">
        </el-table-column>
        <el-table-column prop="summary" show-overflow-tooltip align="right"
                         label="描述">
        </el-table-column>
        @await Html.PartialAsync("_PartialTableEmpty")
    </el-table>

    <el-row style="margin-top: 10px">
        <el-col :span="24" align="center">
            <el-pagination v-on:current-change="handleCurrentChange" background
                           :current-page="formInline.pageIndex"
                           :page-size="formInline.pageSize"
                           layout="total, prev, pager, next, jumper"
                           :total="count">
            </el-pagination>
        </el-col>
    </el-row>
</el-card>
@section Scripts{
    <script src="/sitefiles/assets/js/admin/settings/logsAdmin.js" type="text/javascript"></script>
}