@page
@{ Layout = "_Layout"; }

<el-card>
    <el-scrollbar class="scrollbar" :style="{height: ($(window).height() - 118) + 'px'}">

        <el-form v-on:submit.native.prevent ref="form" :model="form" :size="euiSize" status-icon label-position="top">
            <el-form-item label="系统类型" prop="systemCode">
                <el-radio-group v-model="form.systemCode">
                    <el-radio label="Exam">考试系统</el-radio>
                    <el-radio label="Elearning">培训系统</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="系统名称" prop="systemCodeName" :rules="{ required: true, message: '请输入系统名称' }">
                <el-input v-model="form.systemCodeName"></el-input>
            </el-form-item>
        </el-form>
    </el-scrollbar>
    <el-divider></el-divider>
    <div style="height: 10px"></div>
    <el-row>
        <el-col :span="24" align="center">
            <el-button icon="el-icon-check" type="primary" v-on:click="btnSubmitClick" :size="euiSize">保 存</el-button>
        </el-col>
    </el-row>
</el-card>

@section Scripts{
    <script src="/sitefiles/assets/js/admin/settings/serverConfig.js" type="text/javascript"></script>
}