<template>
    <div style="position:fixed;left:0;bottom:0;width:100%;" class="text-center p-3 bg-white w-100 border-top border-1 border-light">
        <div class="btn-group border-0">
            <button type="button" class="btn border-0 rounded-0" :class="appMenuActive==='index'?'btn-primary fw-bold':'btn-white fw-light'" v-on:click="btnAppMenuClick('index')">
                <i class="bi bi-house-heart-fill me-1"></i>首页
            </button>
            <button type="button" class="btn border-0 rounded-0" :class="appMenuActive==='exam'?'btn-primary fw-bold':'btn-white fw-light'" v-on:click="btnAppMenuClick('exam')">
                <i class="bi bi-file-earmark-medical-fill me-1"></i>考试
            </button>
            <button type="button" class="btn border-0 rounded-0" :class="appMenuActive==='wenjuan'?'btn-primary fw-bold':'btn-white fw-light'" v-on:click="btnAppMenuClick('wenjuan')">
                <i class="bi bi-file-earmark-person me-1"></i>问卷
            </button>
            <button type="button" class="btn border-0 rounded-0" :class="appMenuActive==='mine'?'btn-primary fw-bold':'btn-white fw-light'" v-on:click="btnAppMenuClick('mine')">
                <i class="bi bi-person-fill-check me-1"></i>我的
            </button>
        </div>
    </div>
</template>