@page
@{ Layout = "_LayoutApp"; }

<el-card class="rounded-0">
    <div slot="header" class="text-center">
        练习分析
    </div>
    <div class="position-relative">
        <div class="position-absolute top-0 start-0 text-gray-500">
            <div>题目数量：{{total}}</div>
            <div>本次答题：{{ answerTotal }}</div>
            <div>答对：{{ rightTotal }}</div>
            <div>答错：{{ wrongTotal }}</div>
        </div>
        <div class="text-center p-3 pt-8">
            <apexchart type="radialBar" :options="chartOptions" :series="series" height="300"></apexchart>
        </div>
    </div>
</el-card>
<div class="py-8"></div>
<div style="position:fixed;left:0;bottom:0;width:100%;" class="text-center mb-5 animate__animated animate__fadeInUp">
    <el-button-group class="rounded-0">
        <el-button icon="el-icon-view" type="success" v-on:click="btnViewClick" v-if="answerTotal>0">预览答题</el-button>
        <el-button class="rounded-0" v-on:click="utils.closeLayerSelf" icon="el-icon-back">返 回</el-button>
    </el-button-group>
</div>
@section Scripts{
<script src="/sitefiles/assets/lib/apexcharts/apexcharts.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/apexcharts/vue-apexcharts.js" type="text/javascript"></script>
<script src="/sitefiles/assets/js/app/exam/examPracticeResult.js" type="text/javascript"></script> }