@page
@{ Layout = "_LayoutApp"; }

@section Styles{
    <style>
        .el-form-item {
            margin-bottom: 0px;
        }
    </style>
}
<div style="position:fixed;left:0;top:0;width:100%;" class="text-center py-3 bg-white z-1">
    模拟自测
</div>
<div class="pb-8"></div>
<div class="z-2">
    <el-card class="mb-2">
        <el-input placeholder="关键字查询" v-model="form.keyWords" siza="small">
            <el-button slot="append" icon="el-icon-search" v-on:click="btnSearchClick" size="small"></el-button>
        </el-input>
    </el-card>
    <div v-if="total>0">
        <div class="ms-5 position-relative card-hover-with-icon" v-for="(paper,index) in list" v-on:click="btnViewClick(paper.id)">
            <div class="position-absolute top-50 start-0 translate-middle">
                <div class="position-relative">
                    <i class="bi bi-person-check fs-1 rounded-3 px-1 card-icon"></i>
                    <span class="position-absolute top-100 start-100 translate-middle mt-1 fs-6">{{ index+1 }}</span>
                </div>
            </div>
            <el-card shadow="hover" class="mb-2">
                <div class="ms-5">
                    <div class="mb-3">
                        <div>
                            <el-link :underline="false" v-on:click.stop="btnViewClick(paper.id)">
                                <span class="fw-bold card-icon bg-white py-1 rounded-pill">{{ paper.title }}</span>
                            </el-link>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="list-inline fw-light">
                            <li class="list-inline-item fs-5">
                                总分：{{paper.totalScore}}
                            </li>
                            <li class="list-inline-item fs-5">
                                及格分：{{paper.passScore}}
                            </li>
                            <li class="list-inline-item fs-5">
                                开考时间：{{ paper.examStartDateTimeStr }}
                            </li>
                            <li class="list-inline-item fs-5">
                                剩余考试次数：
                                <span class="text-success fw-bold" v-if="(paper.userExamTimes-paper.myExamTimes)>0">
                                    {{paper.userExamTimes-paper.myExamTimes}}
                                </span>
                                <span class="fs-3 text-danger fw-bold" v-else>
                                    0
                                </span>
                                /{{paper.userExamTimes}}
                            </li>
                        </ul>
                        <div>
                            <div class="bg-light p-2 rounded-circle">
                                <el-button type="primary" circle icon="el-icon-s-order" class="p-3 fs-3" v-on:click.stop="btnViewClick(paper.id)"></el-button>
                            </div>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>
        <div class="my-5 text-center me-5">
            <el-button size="small" icon="el-icon-refresh-right" v-if="list.length>0 && list.length<total" v-on:click="btnLoadMoreClick" :loading="loadMoreLoading">加载更多</el-button>
            <span v-else class="fw-light fs-6">没有更多了</span>
        </div>
    </div>
    <div class="pt-10" v-else>
        <el-empty></el-empty>
    </div>
</div>
<div class="py-8"></div>
<div style="position:fixed;left:0;bottom:0;width:100%;" class="text-center mb-5 animate__animated animate__fadeInUp">
    <el-button-group class="btn-group p-1 bg-gray-300 rounded-pill">
        <el-button v-on:click="location.href=utils.getIndexUrl()" icon="el-icon-back" class="rounded-pill">返 回</el-button>
    </el-button-group>
</div>
@section Scripts{
    <script src="/sitefiles/assets/js/app/exam/examPaperMoni.js" type="text/javascript"></script>
}