@page
@{ Layout = "_LayoutApp"; }
@section Styles{
    <style>
        .el-form-item {
            margin-bottom: 0px;
        }
        .el-card__body, .el-main{
            padding:15px;
        }
    </style>
}
<div style="position:fixed;left:0;top:0;width:100%;" class="text-center py-3 bg-white z-1">
    我的证书
</div>
<div class="pb-8"></div>
<div class="z-2">
    <el-card class="mb-3">
        <el-input placeholder="关键字查询" v-model="form.keyWords" siza="small">
            <el-button slot="append" icon="el-icon-search" v-on:click="btnSearchClick" size="small"></el-button>
        </el-input>
    </el-card>
    <div v-if="list && list.length>0">
        <div class="ms-3 position-relative card-hover-with-icon mb-3" v-for="(cer,index) in list" v-on:click="btnViewCer(cer)">
            <div class="position-absolute top-50 start-0 translate-middle">
                <div class="position-relative">
                    <i class="bi bi-award fs-1 text-warning"></i>
                    <span class="position-absolute top-100 start-100 translate-middle mt-1 fs-6">{{ index+1 }}</span>
                </div>
            </div>
            <el-card shadow="hover">
                <div class="mb-2">
                    <span class="card-icon py-1 px-2">{{ cer.cerName }}【{{ cer.cerNumber }}】</span>
                </div>
                <div class="row align-items-center ms-3 py-2">
                    <div class="col">
                        <ul class="list-inline fw-light ms-2 mb-0">
                            <li class="list-inline-item fs-5 mb-0">
                                {{ cer.awartDate }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <img :src="cer.cerImg" style="width:100px;" />
                    </div>
                </div>
            </el-card>
        </div>
    </div>
    <div class="pt-10" v-else>
        <el-empty></el-empty>
    </div>
</div>
<div class="py-8"></div>
<div style="position:fixed;left:0;bottom:0;width:100%;" class="text-center mb-5 animate__animated animate__fadeInUp">
    <el-button-group class="btn-group p-1 bg-gray-300 rounded-pill">
        <el-button v-on:click="location.href=utils.getRootUrl('mine')" icon="el-icon-back" class="rounded-pill">返 回</el-button>
    </el-button-group>
</div>
@section Scripts{
    <script src="/sitefiles/assets/js/app/exam/examPaperCer.js" type="text/javascript"></script>
}