@page
@{ Layout = "_LayoutApp"; }

<el-card>
    <div slot="header" class="text-center">
        <div>
            {{ item.title }}
        </div>
    </div>
    <div v-if="item.success" class="bg-light p-3 rounded-lg">
        <div v-if="!item.isMark">
            <el-result>
                <template slot="title">
                    交卷成功
                </template>
                <template slot="icon">
                    <i class="el-icon-lock display-1 text-warning"></i>
                </template>
                <template slot="subTitle">
                    请等待阅卷
                </template>
            </el-result>
        </div>
        <div v-else>
            <div v-if="item.isShowScore">
                <el-result v-if="item.isPass">
                    <template slot="title">
                        交卷成功
                    </template>
                    <template slot="icon">
                        <i class="bi bi-emoji-smile display-1 text-success"></i>
                    </template>
                    <template slot="subTitle">
                        成绩
                        <div class="p-3 fs-1">
                            {{ item.score }}
                        </div>
                    </template>
                </el-result>
                <el-result v-else>
                    <template slot="title">
                        交卷成功
                    </template>
                    <template slot="icon">
                        <i class="bi bi-emoji-frown display-1 text-warning"></i>
                    </template>
                    <template slot="subTitle">
                        成绩
                        <div class="p-3 fs-1">
                            {{ item.score }}
                        </div>
                    </template>
                </el-result>
            </div>
            <div v-else>
                <el-result>
                    <template slot="title">
                        交卷成功
                    </template>
                    <template slot="icon">
                        <i class="el-icon-lock display-1 text-warning"></i>
                    </template>
                    <template slot="subTitle">
                        成绩未公布
                    </template>
                </el-result>
            </div>
        </div>
    </div>
    <div v-else>
        <el-result>
            <template slot="title">
                正在交卷：{{ item.queue }}
            </template>
            <template slot="icon">
                <i class="el-icon-loading display-1 text-success"></i>
            </template>
        </el-result>
    </div>
</el-card>
<div style="position:fixed;left:0;bottom:0;width:100%;" class="text-center mb-5 animate__animated animate__fadeInUp">
    <el-button-group>
        <el-button v-on:click="utils.closeLayerSelf" icon="el-icon-back">返 回</el-button>
    </el-button-group>
</div>
@section Scripts{
    <script src="/sitefiles/assets/js/app/exam/examPaperSubmitResult.js" type="text/javascript"></script>
}