@page
@{ Layout = "_Layout"; }

<el-card>
    <el-table ref="table" :data="list" :size="euiSize"
              style="width: 100%"
              v-on:cell-mouse-enter="mouseoverShowIn"
              v-on:cell-mouse-leave="mouseoverShowOut">
        <el-table-column label="课程" show-overflow-tooltip align="left">
            <template slot-scope="scope">
                {{ scope.row.couresName }}
                <div v-if="scope.row.guid===curMouseoverId">
                    <el-link :underline="false" v-on:click.stop="btnCourseManagerAnalysisClick(scope.row)" type="primary" size="mini" style="font-size:12px;">综合统计</el-link>
                    <el-divider direction="vertical"></el-divider>
                    <el-link :underline="false" v-on:click.stop="btnManagerUserClick(scope.row)" type="primary" size="mini" style="font-size:12px;">学习情况</el-link>
                    <template v-if="scope.row.examId>0">
                        <el-divider direction="vertical"></el-divider>
                        <el-link :underline="false" v-on:click.stop="btnManagerScoreClick(scope.row)" type="primary" size="mini" style="font-size:12px;">考试成绩</el-link>
                    </template>
                    <template v-if="scope.row.examQuestionnaireId>0">
                        <el-divider direction="vertical"></el-divider>
                        <el-link :underline="false" v-on:click.stop="btnManagerQClick(scope.row)" type="primary" size="mini" style="font-size:12px;">调查结果</el-link>
                    </template>
                    <template v-if="scope.row.studyCourseEvaluationId>0">
                        <el-divider direction="vertical"></el-divider>
                        <el-link :underline="false" v-on:click.stop="btnManagerEvaluationClick(scope.row)" type="primary" size="mini" style="font-size:12px;">课程评价</el-link>
                    </template>
                </div>
            </template>
        </el-table-column>
        <el-table-column label="培训周期" width="85" align="right">
            <template slot-scope="scope">
                <el-tooltip placement="left">
                    <div slot="content">
                        {{ scope.row.beginDateTimeStr }}-{{ scope.row.endDateTimeStr }}
                    </div>
                    <span>{{ scope.row.dayCount }} 天</span>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column label="#"
                         type="index"
                         width="50"
                         align="right">
            <template scope="scope">
                <span>{{ scope.$index + 1 }}</span>
            </template>
        </el-table-column>
        @await Html.PartialAsync("_PartialTableEmpty")
    </el-table>
</el-card>

@section Scripts{
    <script src="/sitefiles/assets/js/admin/study/studyOffCourseWeek.js" type="text/javascript"></script>
}