@page
@{ Layout = "_Layout"; }

<el-card>
    <el-table ref="table" :data="list" :size="euiSize"
              style="width: 100%" 
              v-on:cell-mouse-enter="mouseoverShowIn"
              v-on:cell-mouse-leave="mouseoverShowOut">
        <el-table-column label="学习任务" show-overflow-tooltip prop="planName" align="left">
            <template slot-scope="scope">
                {{ scope.row.planName }}
                <div v-if="scope.row.id===curMouseoverId">
                    <el-link :underline="false" v-on:click.stop="btnManagerAnalysisClick(scope.row)" type="primary" size="mini" style="font-size:12px;">综合统计</el-link>
                    <el-divider direction="vertical"></el-divider>
                    <el-link :underline="false" v-on:click.stop="btnManagerUserClick(scope.row)" type="primary" size="mini" style="font-size:12px;">学习情况</el-link>
                    <el-divider direction="vertical"></el-divider>
                    <el-link :underline="false" v-on:click.stop="btnManagerCourseClick(scope.row.id)" type="primary" size="mini" style="font-size:12px;">课程统计</el-link>
                    <template v-if="scope.row.examId>0">
                        <el-divider direction="vertical"></el-divider>
                        <el-link :underline="false" v-on:click.stop="btnManagerScoreClick(scope.row)" type="primary" size="mini" style="font-size:12px;">考试成绩</el-link>
                    </template>
                </div>
            </template>
        </el-table-column>
        <el-table-column label="计划周期" width="85" align="right">
            <template slot-scope="scope">
                <el-tooltip placement="left">
                    <div slot="content">
                        {{ scope.row.planBeginDateTimeStr }}-{{ scope.row.planEndDateTimeStr }}
                    </div>
                    <span>{{ scope.row.planDayCount }} 天</span>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column label="#"
                         type="index"
                         width="50"
                         align="right">
            <template scope="scope">
                <span>{{ scope.$index + 1 }}</span>
            </template>
        </el-table-column>
        @await Html.PartialAsync("_PartialTableEmpty")
    </el-table>
</el-card>

@section Scripts{
    <script src="/sitefiles/assets/js/admin/study/studyPlanMonth.js" type="text/javascript"></script>
}