@page
@{ Layout = "_Layout"; }

<el-card>
    <div slot="header" class="clearfix">
        <span>{{ id>0 ? '重命名' : '新建' }}文件夹</span>
        <el-button style="float: right;padding:3px 0;" type="text" v-on:click="utils.closeLayerSelf"><i class="el-icon-close"></i></el-button>
    </div>
    <el-scrollbar class="scrollbar" :style="{ height: ($(window).innerHeight()-180) + 'px' }">
        <div style="margin-right:18px;">
            <el-form :size="euiSize" ref="form" :model="form" label-width="120px">
                <el-form-item label="文件夹名称" prop="groupName" :rules="{ required: true, message: '请输入文件夹名称' }">
                    <el-input type="textarea"
                              placeholder="批量新增时换行分割"
                              v-model="form.groupName"
                              show-word-limit rows="15">
                    </el-input>
                </el-form-item>
            </el-form>
        </div>
    </el-scrollbar>
</el-card>
<el-row align="center" style="margin-top:18px;">
    <el-col :span="24" align="center">
        <el-button icon="el-icon-check" type="primary" v-on:click="btnSubmitClick" :size="euiSize">确 定</el-button>
        <el-button icon="el-icon-close" :size="euiSize" v-on:click="utils.closeLayerSelf">取 消</el-button>
    </el-col>
</el-row>
@section Scripts{
    <script src="/sitefiles/assets/js/admin/study/studyCourseFilesGroupEdit.js" type="text/javascript"></script>
}