@page
@{ Layout = "_Layout"; }

@section Styles{
    <style>
        .el-descriptions-item__label.is-bordered-label{
            width:200px;
        }
    </style>
}

<el-card>
    <div slot="header" class="clearfix">
        <span>{{ admin.displayName+'-账号信息' }}</span>
        <el-button style="float: right;padding:3px 0;" type="text" v-on:click="utils.closeLayerSelf()"><i class="el-icon-close"></i></el-button>
    </div>
        <div style="margin-right:18px;">
            <el-row :gutter="0">
                <el-col :span="4" style="text-align:center;">
                    <el-avatar :size="100" :src="admin.avatarUrl || DEFAULT_AVATAR_URL"></el-avatar>
                    <div style="padding:10px 0;">
                        <span><i class="el-icon-user" style="padding:0 3px"></i>{{ admin.displayName }}</span>
                    </div>
                </el-col>
                <el-col :span="20">
                <el-scrollbar class="scrollbar" :style="{ height: ($(window).innerHeight()-180) + 'px' }">
                    <el-descriptions title="" border column="1" style="margin-right:10px;">
                        <el-descriptions-item label="账 号">{{ admin.userName }}</el-descriptions-item>
                        <el-descriptions-item label="姓 名">{{ admin.displayName }}</el-descriptions-item>
                        <el-descriptions-item label="组 织">{{ admin.organNames }}</el-descriptions-item>
                        <el-descriptions-item label="权 限">{{ admin.authName }}</el-descriptions-item>
                        <el-descriptions-item label="角 色">
                            <el-tag v-for="roleName in admin.roleNames" style="margin:0 5px 5px 0;">{{ roleName }}</el-tag>
                        </el-descriptions-item>
                        <el-descriptions-item label="手 机">{{ admin.mobile }}</el-descriptions-item>
                        <el-descriptions-item label="邮 箱">{{ admin.email }}</el-descriptions-item>
                        <el-descriptions-item label="上次登录时间">{{ admin.lastActivityDate }}</el-descriptions-item>
                        <el-descriptions-item label="登录次数">{{ admin.countOfLogin }}</el-descriptions-item>
                    </el-descriptions>
                </el-scrollbar>
                </el-col>
            </el-row>
        </div>
</el-card>
<el-row align="center" style="margin-top:18px;">
    <el-col :span="24" align="center">
        <el-button icon="el-icon-close" :size="euiSize" v-on:click="btnCancelClick">关 闭</el-button>
    </el-col>
</el-row>

@section Scripts{
    <script src="/sitefiles/assets/js/admin/common/adminLayerView.js" type="text/javascript"></script>
}
