@page
@{ Layout = "_LayoutHome"; }
@section Styles{
    <style>
        body{
            padding: 0;
            margin: 0;
            background-color: #404040;
        }
        html{
            padding: 0;
            margin: 0;
            background-color: #404040;
        }
    </style>
}
<div class="container position-relative">
    <iframe :src="'/sitefiles/assets/lib/PDFJS/web/Viewer.html?file='+url" :style="{height: ($(window).height() - 5) + 'px'}" style="width:100%;height:100%;"></iframe>
    <div class="position-absolute top-50 start-100 translate-middle ms-5 mb-5">
        <div class="mb-3 text-center">
            <el-tooltip class="item" effect="dark" content="点赞" placement="top">
                <el-link :underline="false" v-if="isLike" v-on:click="btnLikeClick"><i class="bi bi-hand-thumbs-up-fill fs-2 text-white"></i></el-link>
                <el-link :underline="false" v-else v-on:click="btnLikeClick"><i class="bi bi-hand-thumbs-up fs-2 text-white"></i></el-link>
            </el-tooltip>
            <span class="text-white">{{ likes }}</span>
        </div>
        <div class="mb-3 text-center">
            <el-tooltip class="item" effect="dark" content="收藏" placement="top">
                <el-link :underline="false" v-if="isCollect" v-on:click="btnCollectClick"><i class="bi bi-star-fill fs-2  text-white"></i></el-link>
                <el-link :underline="false" v-else v-on:click="btnCollectClick"><i class="bi bi-star fs-2 text-white"></i></el-link>
            </el-tooltip>
            <span class="text-white">{{ collects }}</span>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/sitefiles/assets/js/home/knowledges/knowledgesView.js" type="text/javascript"></script>
}