@page
@{ Layout = "_Layout"; }

<el-card class="box-card">
    <el-form :inline="true" :size="euiSize">
        <el-form-item label="题目组">
            <el-input v-model="search"
                      prefix-icon="el-icon-search" clearable
                      placeholder="关键字">
            </el-input>
        </el-form-item>
        <el-form-item label="">
            <el-button icon="el-icon-search" type="primary" :size="euiSize" v-on:click="btnSearch">查 询</el-button>
        </el-form-item>
        <el-form-item label="">
            <el-button :size="euiSize" plain type="primary" icon="el-icon-plus" v-on:click="btnEditClick(0)">
                新增题目组
            </el-button>
        </el-form-item>
    </el-form>

    <el-table :data="groups" style="width: 100%;" :size="euiSize"
              :height="($(window).height() - 115)">
        <el-table-column label="#"
                         type="index"
                         width="60"
                         align="left">
            <template scope="scope">
                <span>{{ scope.$index + 1 }}</span>
            </template>
        </el-table-column>
        <el-table-column label="题目组" prop="groupName"></el-table-column>
        <el-table-column width="130" prop="tmTotal">
            <template slot="header" slot-scope="scope">
                <el-tooltip content="仅包含启用状态的题目" placement="top" effect="light">
                    <span><i class="el-icon-info"></i>题目数量</span>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column width="130" label="类型" prop="typeName"></el-table-column>
        <el-table-column width="130" label="创建人">
            <template slot-scope="scope">
                <el-button-group>
                    <el-link :underline="false" type="primary" v-on:click="utils.openAdminView(scope.row.creatorId)">{{scope.row.creatorDisplayName}}</el-link>
                </el-button-group>
            </template>
        </el-table-column>
        <el-table-column width="150"
                         prop="createdDate"
                         label="创建时间">
        </el-table-column>
        <el-table-column prop="description"
                         label="备注">
        </el-table-column>
        <el-table-column label="状态" width="80">
            <template slot-scope="scope">
                <span v-if="scope.row.locked"><el-tag size="mini" type="danger" effect="dark">已停用</el-tag></span>
                <span v-else>
                    <span v-if="scope.row.openUser"><el-tag size="mini" type="warning" effect="dark">允许刷题</el-tag></span>
                    <span v-else><el-tag size="mini" type="success" effect="dark">启用</el-tag></span>
                </span>
            </template>
        </el-table-column>
        <el-table-column label="" align="right" width="100">
            <template slot-scope="scope">
                <el-dropdown :show-timeout="0" placement="left">
                    <el-button icon="el-icon-arrow-left" size="mini" v-on:click.stop="return false">
                        操作
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-edit" v-on:click.native="btnEditClick(scope.row.id)">编辑</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-plus" v-on:click.native="btnRangeClick(scope.row.id)" v-if="scope.row.groupType==='Fixed'">选择题目</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-delete" style="color:red;" v-on:click.native="btnDeleteClick(scope.row)" divided>删除</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>
        </el-table-column>
        @await Html.PartialAsync("_PartialTableEmpty")
</el-table>
</el-card>
@section Scripts{
<script src="/sitefiles/assets/js/admin/exam/examTmGroup.js" type="text/javascript"></script> }