@page
@{ Layout = "_LayoutApp"; }

@section Styles {
    <link href="/sitefiles/assets/lib/animate/animate.min.css" rel="stylesheet" type="text/css" />
}

<div class="card shadow-lg mb-3">
    <div class="rounded-top-3 bg-gradient-mix-shade" style="height: 158px">
    </div>
    <div class="card-body p-md-5">
        <div class="d-flex flex-column gap-2">
            <!--img-->
            <div>
                <div>
                    <div class="d-flex justify-content-between align-items-end">
                        <div class="ms-2">
                            <h1 class="text-warning">欢迎：{{ user.displayName }}</h1>
                        </div>
                        <img :src="user.avatarUrl || DEFAULT_AVATAR_URL" class="img-fluid rounded-pill smooth-shadow-lg mt-n8" style="width:128px;">
                    </div>
                    <div>
                        <apexchart type="radialBar" :options="passChartOptions" :series="passSeries" height="350"></apexchart>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column gap-5">
                <div class="d-flex flex-column gap-3">
                    <div class="d-flex flex-md-row flex-column gap-md-4 gap-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning align-baseline" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <span>累计考试<span class="text-gray-800 fw-bold mx-2">{{ examTotal }}</span>场</span>
                            </span>
                            <span>
                                <span>及格率<span class="text-gray-800 fw-bold mx-2">{{ examPercent }}</span>%</span>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning align-baseline" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                累计模拟<span class="text-gray-800 fw-bold mx-2">{{ examMoniTotal }}</span>场
                            </span>
                            <span>
                                及格率<span class="text-gray-800 fw-bold mx-2">{{ examMoniPercent }}</span>%
                            </span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning align-baseline" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                累计刷题<span class="text-gray-800 fw-bold mx-2">{{ practiceAnswerTmTotal }}</span>场
                            </span>
                            <span>
                                正确率<span class="text-gray-800 fw-bold mx-2">{{ practiceAnswerPercent }}</span>%
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-hover-with-icon border-top border-5 border-light p-0 mb-3">
    <el-card shadow="hover">
        <div slot="header" class="d-flex justify-content-between align-items-center">
            <span class="fw-bold"><i class="el-icon-platform-eleme me-2 text-warning bg-light p-2 card-icon rounded-circle"></i>最近一场考试安排</span>
            <el-link :underline="false" v-on:click="btnExamMoreMenuClick">更多<i class="el-icon-more ms-2"></i></el-link>
        </div>
        <div class="row align-items-center g-3" v-if="examPaper">
            <div class="col">
                <div class="mb-2">
                    <el-link :underline="false" v-on:click="btnViewPaperClick(examPaper.id)">
                        <span class="fw-bold">{{ examPaper.title }}</span>
                    </el-link>
                </div>
                <ul class="list-inline fw-light">
                    <li class="list-inline-item fs-5">
                        总分：{{ examPaper.totalScore }}
                    </li>
                    <li class="list-inline-item fs-5">
                        及格分：{{ examPaper.passScore }}
                    </li>
                </ul>
                <ul class="list-inline fw-light">
                    <li class="list-inline-item fs-5">
                        剩余考试次数：
                        <span class="fs-3 text-success fw-bold" v-if="(examPaper.userExamTimes-examPaper.myExamTimes)>0">
                            {{ examPaper.userExamTimes-examPaper.myExamTimes }}
                        </span>
                        <span class="fs-3 text-danger fw-bold" v-else>
                            0
                        </span>
                        /{{ examPaper.userExamTimes }}
                    </li>
                </ul>
                <ul class="list-inline fw-light">
                    <li class="list-inline-item fs-5">
                        <i class="el-icon-date me-2"></i>开考时间：{{ examPaper.examStartDateTimeStr }}
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <div class="bg-light p-2 rounded-pill">
                    <el-button type="primary" plain icon="el-icon-s-order" class="rounded-pill" v-on:click="btnViewPaperClick(examPaper.id)">详 细</el-button>
                </div>
            </div>
        </div>
        <div v-else>
            <el-empty></el-empty>
        </div>
    </el-card>
</div>
<div class="card shadow-lg border-top border-5 border-warning p-0 mb-3 bg-light" style="cursor:default;">
    <el-card>
        <div slot="header" class="d-flex justify-content-between align-items-center">
            <span class="fw-bold">
                <i class="el-icon-s-order me-2 text-warning bg-light p-2 card-icon rounded-circle"></i>刷题练习
            </span>
            <el-link :underline="false" v-on:click="btnMoreMenuClick('examPractice')">更多<i class="el-icon-more ms-2"></i></el-link>
        </div>
        <div>
            <div class="row text-center">
                <div class="col p-3">
                    <div class="mb-3">
                        <el-progress type="dashboard" :percentage="practiceAllPercent" color="#5cb87a" :width="88" :stroke-width="4"></el-progress>
                        <div class="fs-6">正确率</div>
                    </div>
                    <div class="mb-3 p-2 bg-light w-100 rounded-pill">
                        <el-button type="warning" plain class="py-4 w-100 rounded-pill" v-on:click="btnCreatePracticeClick('All')"><i class="bi bi-fast-forward-circle-fill me-2"></i>快速开始</el-button>
                    </div>
                    <div class="fs-6 fw-light">共<span class="fs-4 fw-bold mx-2">{{ practiceAllTmTotal }}</span>道题</div>
                </div>
                <div class="col p-3">
                    <div class="mb-3">
                        <el-progress type="dashboard" :percentage="practiceCollectPercent" color="#5cb87a" :width="88" :stroke-width="4"></el-progress>
                        <div class="fs-6">正确率</div>
                    </div>
                    <div class="mb-3 p-2 bg-light w-100 rounded-pill">
                        <el-button type="primary" plain class="py-4 w-100 rounded-pill" v-on:click="btnCreatePracticeClick('Collect')"><i class="bi bi-person-hearts me-2"></i>收藏练习</el-button>
                    </div>
                    <div class="fs-6 fw-light">共<span class="fs-4 fw-bold mx-2">{{ practiceCollectTmTotal }}</span>道题</div>
                </div>
                <div class="col p-3">
                    <div class="mb-3">
                        <el-progress type="dashboard" :percentage="practiceWrongPercent" color="#5cb87a" :width="88" :stroke-width="4"></el-progress>
                        <div class="fs-6">正确率</div>
                    </div>
                    <div class="mb-3 p-2 bg-light w-100 rounded-pill">
                        <el-button type="success" plain class="py-4 w-100 rounded-pill" v-on:click="btnCreatePracticeClick('Wrong')"><i class="bi bi-backspace-reverse me-2"></i>错题练习</el-button>
                    </div>
                    <div class="fs-6 fw-light">共<span class="fs-4 fw-bold mx-2">{{ practiceWrongTmTotal }}</span>道题</div>
                </div>
            </div>
        </div>
    </el-card>
</div>
<div class="card card-hover-with-icon border-top border-5 border-primary p-0 mb-3" style="cursor:default;">
    <el-card shadow="hover">
        <div slot="header" class="d-flex justify-content-between align-items-center">
            <span class="fw-bold"><i class="el-icon-eleme me-2 text-warning bg-light p-2 card-icon rounded-circle"></i>最新一场模拟自测</span>
            <el-link :underline="false" v-on:click="btnMoreMenuClick('examPaperMoni')">更多<i class="el-icon-more ms-2"></i></el-link>
        </div>
        <div class="row align-items-center g-3" v-if="examMoni">
            <div class="col">
                <div class="mb-2">
                    <el-link :underline="false" v-on:click="btnViewPaperClick(examMoni.id)">
                        <span class="fw-bold">{{ examMoni.title }}</span>
                    </el-link>
                </div>
                <ul class="list-inline fw-light">
                    <li class="list-inline-item fs-5">
                        总分：{{ examMoni.totalScore }}
                    </li>
                    <li class="list-inline-item fs-5">
                        及格分：{{ examMoni.passScore }}
                    </li>
                    <li class="list-inline-item fs-5">
                        剩余考试次数：
                        <span class="fs-3 text-success fw-bold" v-if="(examMoni.userExamTimes-examMoni.myExamTimes)>0">
                            {{ examMoni.userExamTimes-examMoni.myExamTimes }}
                        </span>
                        <span class="fs-3 text-danger fw-bold" v-else>
                            0
                        </span>
                        /{{ examMoni.userExamTimes }}
                    </li>
                </ul>
                <ul class="list-inline fw-light">
                    <li class="list-inline-item fs-5">
                        <i class="el-icon-date me-2"></i>有效期：{{ examMoni.examStartDateTimeStr }}-{{ examMoni.examEndDateTimeStr }}
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <div class="bg-light p-2 rounded-pill">
                    <el-button type="primary" plain icon="el-icon-s-order" class="rounded-pill" v-on:click="btnViewPaperClick(examMoni.id)">详 细</el-button>
                </div>
            </div>
        </div>
        <div v-else>
            <el-empty></el-empty>
        </div>
    </el-card>
</div>
<div class="card card-hover-with-icon border-top border-5 border-success p-0" style="cursor:default;">
    <el-card shadow="hover">
        <div class="mb-2 d-flex justify-content-start align-items-center">
            <el-avatar icon="el-icon-user-solid" :src="user.avatarUrl || DEFAULT_AVATAR_URL"></el-avatar>
            <div class="ms-2">
                <span>个人信息</span>
            </div>
        </div>
        <div>
            <el-descriptions title="" border column="1">
                <el-descriptions-item label="账 号">{{ user.userName }}</el-descriptions-item>
                <el-descriptions-item label="姓 名">{{ user.displayName }}</el-descriptions-item>
                <el-descriptions-item label="组 织">{{ user.organNames }}</el-descriptions-item>
                <el-descriptions-item label="手 机">{{ user.mobile }}</el-descriptions-item>
                <el-descriptions-item label="邮 箱">{{ user.email }}</el-descriptions-item>
                <el-descriptions-item label="上次登录时间">{{ user.lastActivityDate }}</el-descriptions-item>
                <el-descriptions-item label="登录次数">{{ user.countOfLogin }}</el-descriptions-item>
            </el-descriptions>
        </div>
    </el-card>
</div>

<div class="my-5 text-center fs-5">
    <span class="fw-light mt-3">没有了</span>
</div>

<div style="position:fixed;left:0;bottom:0;width:100%;" class="text-center mb-3">
    <el-button-group class="btn-group p-2 bg-gradient-mix-shade rounded-pill">
        <el-button type="primary" icon="el-icon-s-home" class="rounded-start-pill">首 页</el-button>
        <el-button type="primary" plain icon="el-icon-document-checked">考 试</el-button>
        <el-button type="primary" plain icon="el-icon-document">刷 题</el-button>
        <el-button type="primary" plain icon="el-icon-user" class="rounded-end-pill">我 的</el-button>
    </el-button-group>
</div>
@section Scripts{
<script src="/sitefiles/assets/lib/apexcharts/dist/apexcharts.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/apexcharts/dist/vue-apexcharts.js" type="text/javascript"></script>
<script src="/sitefiles/assets/js/app/dashboard.js" type="text/javascript"></script> }