@page
@{ Layout = "_LayoutApp"; }

<el-card>
    <el-scrollbar class="scrollbar" :style="{ height: ($(window).height()-63) + 'px' }">
        <div class="text-center px-21 py-8">
            <el-card>
                <el-button type="warning" plain :size="euiSize" v-on:click="logout" class="py-18 w-100">
                    <div><i class="el-icon-switch-button display-1"></i></div>
                    <div class="mt-5 fs-3">退出系统</div>
                </el-button>
            </el-card>
        </div>
    </el-scrollbar>
</el-card>
@section Scripts{
<script src="/sitefiles/assets/js/home/logout.js" type="text/javascript"></script> }