@page
@{ Layout = "_LayoutApp"; }
<div class="col-lg-12 col-md-12 col-12">
    <div class="card mb-3">
        <!-- Card Body -->
        <div class="card-body ">
            <div class="text-center">
                <img :src="user.avatarUrl || DEFAULT_AVATAR_URL" class="rounded-circle avatar-xl mb-3" alt="">
                <h4 class="mb-1">{{ user.displayName }}</h4>
                <p class="mb-0 fs-5">
                    {{ user.userName }}
                </p>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span><i class="el-icon-user me-2"></i>修改个人信息</span>
                <el-button icon="el-icon-arrow-right" circle v-on:click="btnTab('info')"></el-button>
            </div>
            <div class="d-flex justify-content-between  align-items-center mt-3">
                <span><i class="el-icon-key me-2"></i>修改密码</span>
                <el-button icon="el-icon-arrow-right" circle v-on:click="btnTab('pwd')"></el-button>
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <div class="mb-0 p-2 bg-light w-100">
        <el-button type="primary" plain class="py-3 w-100" v-on:click="btnTab('score')">
            <span class="d-flex justify-content-between align-items-center">
                <span><i class="el-icon-caret-right me-2"></i>考试成绩</span>
                <span>
                    <i class="el-icon-arrow-right"></i>
                </span>
            </span>
        </el-button>
    </div>
    <div class="mb-0 p-2 bg-light w-100">
        <el-button type="primary" plain class="py-3 w-100" v-on:click="btnTab('cer')">
            <span class="d-flex justify-content-between align-items-center">
                <span><i class="el-icon-caret-right me-2"></i>我的证书</span>
                <span>
                    <i class="el-icon-arrow-right"></i>
                </span>
            </span>
        </el-button>
    </div>
    <div class="mb-1 p-2 bg-light w-100">
        <el-button type="primary" plain class="py-3 w-100" v-on:click="btnTab('shuati')">
            <span class="d-flex justify-content-between align-items-center">
                <span><i class="el-icon-caret-right me-2"></i>刷题记录</span>
                <span>
                    <i class="el-icon-arrow-right"></i>
                </span>
            </span>
        </el-button>
    </div>
    <div class="mb-1 p-2 bg-light w-100">
        <el-button type="warning" plain class="py-3 w-100" v-on:click="btnTab('logout')">
            <span class="d-flex justify-content-between align-items-center">
                <span><i class="el-icon-caret-right me-2"></i>退出登录</span>
                <span>
                    <i class="el-icon-switch-button"></i>
                </span>
            </span>
        </el-button>
    </div>
</div>
<div class="py-8"></div>
@await Html.PartialAsync("_PartialAppMenu")
@section Scripts{
    <script src="/sitefiles/assets/js/app/mine.js" type="text/javascript"></script>
}
