@page
@{ Layout = "_LayoutHome"; }
<div class="d-flex flex-column" :style="{height: ($(window).height()-50) + 'px'}">
    <div class="my-auto">
        <el-empty></el-empty>
    </div>
</div>
@section Scripts{
    <script src="/sitefiles/assets/js/home/empty.js" type="text/javascript"></script>
}