@page
@{ Layout = "_LayoutHome"; }
@section Styles{
    <style>
        .el-input__inner {
            border-radius: 0;
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 2px;
            background: none;
        }

        .el-radio {
            white-space: normal;
        }

        .el-checkbox__label {
            display: inline-grid;
            word-wrap: break-word;
            line-height: 20px;
            white-space: pre-line;
        }

        .number {
            color: red;
        }

        html {
            background-color: #f1f1f1;
        }
    </style>
    <link href="/sitefiles/assets/css/watermark.css" rel="stylesheet" type="text/css" />
}
@await Html.PartialAsync("_PartialWatermark")
<template v-if="isLoad">
    <div class="px-8 p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="fw-bolder me-3 fs-3"><i class="el-icon-s-order me-2"></i>{{ paper.title }}</span>
                <span>共{{ paper.tmTotal }}题，总分{{ paper.totalScore }}分，及格分{{ paper.passScore }}分</span>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <span class="me-2">当前考生：{{ paper.userDisplayName }}<span class="ms-2 text-warning">考试中</span></span><el-avatar :src="paper.userAvatar || DEFAULT_AVATAR_URL"></el-avatar>
            </div>
        </div>
    </div>
    <div class="px-8">
        <el-row :gutter="18">
            <el-col :span="18">
                <el-card v-if="tm" class="fs-4 rounded-4">
                    <div slot="header" class="d-flex justify-content-between align-items-center">
                        <div>第<span class="px-1">{{ tm.tmIndex }}</span>题（<span>{{ tm.txName }}</span>）</div>
                        <div><span>{{ tm.score }}分</span></div>
                    </div>
                    <el-scrollbar class="scrollbar" :style="{ height: ($(window).height()-335) + 'px' }" ref="answerScrollbar">
                        <div class="p-4" style="word-wrap:break-word;">
                            <div v-if="tm.baseTx==='Zuheti'">
                                <div class="mb-3 fw-bold">
                                    <div v-html="tm.titleHtml"></div>
                                </div>
                                <div v-for="small in tm.smallLists">
                                    <el-card class="mb-3">
                                        <div class="d-flex justify-content-between align-items-center py-3">
                                            <div>第<span class="px-1">{{ small.tmIndex }}</span>小题（<span>{{ small.txName }}</span>）</div>
                                            <div><span>{{ small.score }}分</span></div>
                                        </div>
                                        <div class="mb-3 fw-bold">
                                            <div v-if="small.baseTx==='Tiankongti'">
                                                <span v-if="small.titleList && small.titleList.length>0">
                                                    <span v-for="tmContent in small.titleList">
                                                        <span v-if="utils.contains(tmContent.value,'___')">
                                                            <el-input v-model.trim="small.answerInfo.optionsValues[tmContent.key]" v-on:change="answerSmallChange(small)" style="width:130px;"></el-input>
                                                        </span>
                                                        <span v-else v-html="tmContent.value"></span>
                                                    </span>
                                                </span>
                                                <div v-else v-html="small.titleHtml"></div>
                                            </div>
                                            <div v-else v-html="small.titleHtml"></div>
                                        </div>
                                        <div class="list-group" v-if="small.baseTx!=='Tiankongti'">
                                            <div v-if="small.baseTx==='Danxuanti' || small.baseTx==='Panduanti'">
                                                <div class="list-group-item list-group-item-action" v-for="(option,optionIndex) in small.optionsRandom">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <div>
                                                            {{optionsABC[optionIndex]}}
                                                        </div>
                                                        <div class="w-100 pt-1">
                                                            <el-radio class="border-0 w-100" border :label="option.key" v-model="small.answerInfo.answer" v-on:change="answerSmallChange(small)" size="medium">
                                                                <span v-html="option.value"></span>
                                                            </el-radio>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else-if="small.baseTx==='Duoxuanti'">
                                                <div class="list-group-item list-group-item-action" v-for="(option,optionIndex) in small.optionsRandom">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <div>
                                                            {{optionsABC[optionIndex]}}
                                                        </div>
                                                        <div class="w-100 pt-1">
                                                            <el-checkbox class="border-0 w-100" border :true-label="option.key" false-label="" v-model="small.answerInfo.optionsValues[optionsABC.indexOf(option.key)]" v-on:change="answerSmallChange(small)" size="medium">
                                                                <span v-html="option.value"></span>
                                                            </el-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else-if="small.baseTx==='Jiandati'">
                                                <el-input :key="small.id" type="textarea" resize="none" v-model="small.answerInfo.answer" :autosize="{ minRows: 3}" maxlength="333" style="width:100%;"
                                                          show-word-limit v-on:change="answerSmallChange(small)"></el-input>
                                            </div>
                                            <div v-else>
                                                未知题型
                                            </div>
                                        </div>
                                    </el-card>
                                </div>
                            </div>
                            <div v-else>
                                <div class="mb-3 fw-bold">
                                    <div v-if="tm.baseTx==='Tiankongti'">
                                        <span v-if="tm.titleList && tm.titleList.length>0">
                                            <span v-for="tmContent in tm.titleList">
                                                <span v-if="utils.contains(tmContent.value,'___')">
                                                    <el-input v-model.trim="tm.answerInfo.optionsValues[tmContent.key]" v-on:change="answerChange" style="width:130px;"></el-input>
                                                </span>
                                                <span v-else v-html="tmContent.value"></span>
                                            </span>
                                        </span>
                                        <div v-else v-html="tm.titleHtml"></div>
                                    </div>
                                    <div v-else v-html="tm.titleHtml"></div>
                                </div>
                                <div class="list-group" v-if="tm.baseTx!=='Tiankongti'">
                                    <div v-if="tm.baseTx==='Danxuanti' || tm.baseTx==='Panduanti'">
                                        <div class="list-group-item list-group-item-action" v-for="(option,optionIndex) in tm.optionsRandom">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div>
                                                    {{optionsABC[optionIndex]}}
                                                </div>
                                                <div class="w-100 pt-1">
                                                    <el-radio class="border-0 w-100" border :label="option.key" v-model="tm.answerInfo.answer" v-on:change="answerChange" size="medium">
                                                        <span v-html="option.value"></span>
                                                    </el-radio>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else-if="tm.baseTx==='Duoxuanti'">
                                        <div class="list-group-item list-group-item-action" v-for="(option,optionIndex) in tm.optionsRandom">
                                            <div class="d-flex justify-content-start align-items-center">
                                                <div>
                                                    {{optionsABC[optionIndex]}}
                                                </div>
                                                <div class="w-100 pt-1">
                                                    <el-checkbox class="border-0 w-100" border :true-label="option.key" false-label="" v-model="tm.answerInfo.optionsValues[optionsABC.indexOf(option.key)]" v-on:change="answerChange" size="medium">
                                                        <span v-html="option.value"></span>
                                                    </el-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else-if="tm.baseTx==='Jiandati'">
                                        <el-input :key="tm.id" type="textarea" resize="none" v-model="tm.answerInfo.answer" :autosize="{ minRows: 3}" maxlength="333" style="width:100%;"
                                                  show-word-limit v-on:change="answerChange"></el-input>
                                    </div>
                                    <div v-else>
                                        未知题型
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-scrollbar>
                    <div class="pt-3 px-4 d-flex justify-content-between align-items-center">
                        <div>
                            <el-button v-on:click="btnUpClick" icon="el-icon-arrow-left" :disabled="tm.tmIndex===1">上一题</el-button>
                            <span class="px-5">{{ tm.tmIndex }}/{{ paper.tmTotal }}</span>
                            <el-button v-on:click="btnDownClick" icon="el-icon-arrow-right" :disabled="tm.tmIndex===paper.tmTotal">下一题</el-button>
                        </div>
                        <div>
                            <el-button v-on:click="btnCorrection"><i class="el-icon-question text-warning me-2"></i>题目纠错</el-button>
                        </div>
                    </div>
                </el-card>
                <el-card v-else>
                    <div :style="{ height: ($(window).innerHeight()-315) + 'px' }">
                        <el-skeleton :rows="6" animated>
                            <el-skeleton-item variant="h3" style="width: 50%;" />
                            <el-skeleton-item variant="h3" style="width: 50%;" />
                            <el-skeleton-item variant="h3" style="width: 50%;" />
                            <el-skeleton-item variant="h3" style="width: 50%;" />
                            <el-skeleton-item variant="h3" style="width: 50%;" />
                            <el-skeleton-item variant="h3" style="width: 50%;" />
                        </el-skeleton>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="6">
                <el-card class="rounded-4" shadow="never">
                    <div slot="header">
                        <div class="row">
                            <div class="col">答题卡</div>
                            <div class="col-auto">
                                <el-tag size="mini" type="warning" class="me-1">未答</el-tag>
                                <el-tag size="mini" effect="dark" type="success">已答</el-tag>
                            </div>
                        </div>
                    </div>
                    <div>
                        <el-scrollbar class="scrollbar" :style="{ height: ($(window).height()-280) + 'px' }">
                            <ul class="list-group mb-1" v-for="(tx,txIndex) in list">
                                <li class="list-group-item border-0 p-1 fw-light">{{tx.txName}}</li>
                                <li class="list-group-item border-0 p-1">
                                    <span v-for="tabTm in tx.tmList" v-on:click="btnGetTm(tabTm.id)" style="margin-right:3px; margin-bottom:3px;cursor:pointer;">
                                        <el-tag :key="tabTm.id" size="mini" type="success" effect="dark" v-if="getTmAnswerStatus(tabTm.id)">
                                            {{ tabTm.tmIndex }}
                                        </el-tag>
                                        <el-tag :key="tabTm.id" size="mini" type="warning" v-else>
                                            {{ tabTm.tmIndex }}
                                        </el-tag>
                                    </span>
                                </li>
                            </ul>
                        </el-scrollbar>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
    <div class="px-8 py-3">
        <el-row :gutter="18">
            <el-col :span="18" class="d-flex justify-content-between align-items-center pt-3">
                <div class="d-flex justify-content-start align-items-center">
                    <div>答题进度：</div>
                    <div style="min-width:400px;">
                        <el-progress :text-inside="true" :stroke-width="20" :percentage="utils.formatPercentFloat(answerTotal,paper.tmTotal)" status="success"></el-progress>
                    </div>
                </div>
                <div>
                    <div v-if="paper.isTiming">
                        <el-statistic :value="surplusSecond"
                                      time-indices v-on:finish="timingFinish"
                                      suffix="后自动交卷">
                        </el-statistic>
                    </div>
                    <div v-else>
                        不计时考试
                    </div>
                </div>
            </el-col>
            <el-col :span="6" v-if="paper.openExist">
                <el-row :gutter="18">
                    <el-col :span="16">
                        <el-button type="primary" class="py-3 rounded-4 w-100" v-on:click="btnPaperSubmit">
                            <i class="el-icon-upload me-2"></i>立即交卷
                        </el-button>
                    </el-col>
                    <el-col :span="8">
                        <el-button plain type="warning" class="py-3 rounded-4 w-100" :disabled="!paper.openExist" v-on:click="utils.closeLayerSelf" icon="el-icon-close">退 出</el-button>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="6" v-else>
                <el-button type="primary" class="py-3 rounded-4 w-100" v-on:click="btnPaperSubmit">
                    <i class="el-icon-upload me-2"></i>立即交卷
                </el-button>
            </el-col>
        </el-row>
    </div>
</template>
@section Scripts{
    <script src="/sitefiles/assets/js/home/exam/examPaperExaming.js" type="text/javascript"></script>
}