@page
@{ Layout = "_LayoutApp"; }
@section Styles{
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
}
<div class="p-3" v-if="total>0">
    <div class="row g-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
            <div class="mb-3" v-on:click="btnViewClick(know)" style="cursor:pointer;" v-for="know in list1">
                <div>
                    <img :src="know.coverImgUrl" class="img-fluid card-img shadow-lg rounded-3">
                </div>
                <div class="p-2">
                    <small><span class="me-2"><i class="bi bi-hand-thumbs-up"></i> {{ know.likes }}</span><span><i class="bi bi-star"></i> {{ know.collects }}</span></small>
                    <div class="fw-bolder">
                        {{ know.name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
            <div class="mb-3 rounded-3" v-on:click="btnViewClick(know)" style="cursor:pointer;" v-for="know in list2">
                <div>
                    <img :src="know.coverImgUrl" class="img-fluid card-img shadow-lg rounded-3">
                </div>
                <div class="p-2">
                    <small><span class="me-2"><i class="bi bi-hand-thumbs-up"></i> {{ know.likes }}</span><span><i class="bi bi-star"></i> {{ know.collects }}</span></small>
                    <div class="fw-bolder">
                        {{ know.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 text-center">
        <el-button class="rounded-pill border-0" icon="el-icon-refresh-right" v-if="total>pushTotal" v-on:click="btnLoadMoreClick" :loading="loadMoreLoading">加载剩余的 {{total-pushTotal}} 条</el-button>
        <small v-else>没有更多了</small>
    </div>
    <div class="py-8"></div>
</div>
<div class="pt-8" v-else>
    <el-empty :image-size="55"></el-empty>
</div>

@section Scripts{
    <script src="/sitefiles/assets/js/app/knowledges/knowledges.js" type="text/javascript"></script>
}